<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://vuejs.org/js/vue.js"></script>
    <style>
        html{
            color:black
        }
        body{
            color:black;
        }
        *{
            color:black
        }
        .body-on {
        background-color: #dddddd;
        }
    </style>
</head>
<body class="text-center body body-on">
    <div id="app">
        <button v-on:click="empezar" class="btn">
            Empezar
        </button>
        <div v-if="nivel1">
            <p>
                {{message}}
            </p>
            <p>
                Mi Nombre es: 
                <input type="text" placeholder="Tu Nombre" value="" v-model='name'>
            </p>
            <p v-if="name !== ''">Un gusto en conocerte {{name}}. 
                <br>
                Que pokemon quieres ser?
                <poke v-on:changepoke="changepokeroot" />
            </p>
            <pre v-if="picked !== 'none'">{{ pokemon[picked]}}</pre>
            <button v-show="picked !== 'none'">Siguiente Nivel</button>
        </div>
    </div>
    
    <script>

        Vue.component('poke', {
            data: function() {
                return {
                    picked: 'none'
                }
            },
            template: `<div><br>
            <input type="radio" id="one" value="pikachu" v-model="picked">
            <label for="one">Pikachu</label>
            <br>
            <input type="radio" id="two" value="Bolbasour" v-model="picked">
            <label for="two">Bolbasour</label>
            <br></div>
            `,
            watch: {
                picked: function(newRole)
                { 
                    this.$emit('changepoke', this.picked)
                }
            }
        })
    new Vue({
        el: '#app',
        data:function() {
            return {
            name: '',
            nivel1:false,
            picked: 'none',
            message: 'Buenos Dias Pequeño Pokemon. Cual es tu nombre?',
            pokemon: { none: '' , pikachu: `
$$$b  '---.__
  "$$b        '--.                          ___.---uuudP
   '$$b           '.__.------.__     __.---'      $$$$"              .
     "$b          -'            '-.-'            $$$"              .'|
       ".                                       d$"             _.'  |
         '.   /                              ..."             .'     |
           './                           ..::-'            _.'       |
            /                         .:::-'            .-'         .'
           :                          ::''\\          _.'            |
          .' .-.             .-.           '.      .'               |
          : /'$$|           .@"$\\           '.   .'              _.-'
         .'|$u$$|          |$$,$$|           |  <            _.-'
         | ':$$:'          :$$$$$:           '.  '.       .-'
         :                  '"--'             |    '-.     \\
        :##.       ==             .###.       '.      '.    '\\
        |##:                      :###:        |        >     >
        |#'     '..''..'          '###'        x:      /     /
         \\                                   xXX|     /    ./
          \\                                xXXX'|    /   ./
          /'-.                                  '.  /   /
         :    '-  ...........,                   | /  .'
         |         ':::::::'       .            |<    '.
         |             '          |           x| \\ '.:'.
         |                         .'    /'   xXX|  ':'M'M':.
         |    |                    ;    /:' xXXX'|  -'MMMMM:'
         '.  .'                   :    /:'       |-'MMMM.-'
          |  |                   .'   /'        .'MMM.-'
          ''''                   :  ,'          |MMM<
            |                     ''            |tbap\\
             \\                                  :MM.-'
              \\                 |              .''
               \\.               '.            /
                /     .:::::::.. :           /
               |     .:::::::::::'.         /
               |   .:::------------\\       /
              /   .''               >::'  /
              '',:                 :    .'
                                   ':.:'`,
        Bolbasour: `
                                ,'"'.,./.
                             ,'        Y',"..
                           ,'           \\  | \\
                          /              . |  '
                         /               | |   \\
            __          .                | |    .
       _   \\  '. ---.   |                | j    |
      / '-._\\   'Y   \\  |                |.     |
     _'.    '    \\   \\ |..              '      |,-'""7,....
     l     '-.     . , '|  | , |'. , ,  /,     ,'    '/   ,'_,.-.
     '-..     '-.  : :     |/ '   ' "\\,' | _  /          '-'    /___
      \\""' __.,.-'.: :        /   /._    l'.,'
       '--,   _.-' '".           /__ ''-.' '         .
       ,---..._,.--"""""""--.__..----,-.'   .  /    .'   ,.--
       |                          ,':| /    | /     ;.,-'--      ,.-
       |     .---.              .'  :|'     |/ ,.-='"-.'"'' _   -.'
       /    \\    /               '. :|--.  _L,"---.._        "----'
     ,' '.   \\ ,'           _,     '''   '.-'       '-  -..___,'
    . ,.  .   '   __     .-'  _.-           '.     .__    \\
    |. |'        "  ;   !   ,.  |             '.    '.''---'
    ,| |C\\       ' /    | ,' |(]|            -. |-..--'
   /  "'--'       '      /___|__]        '.  '- |'.
  .       ,'                   ,   /       .    '. \\
    \\                      .,-'  ,'         .     '-.
     x---..'.  -'  __..--'"/"""""  ,-.      |   |   |
    / \\--._'-.,.--'     _'-    _. ' /       |     -.|
   ,   .   '-..__ ...--'  _,.-' | '   ,.-.  ;   /  '|
  .  _,'         '"-----""      |    '   | /  ,'    ;
  |-'  .-.    '._               |     '._// ,'     /
 _|    '-'   _,' "'--.._________|        ','    _ /.
//\\   ,-._.'"/\\__,.   _,"     /_\\__/'. /'.-.'.-/_,'-' mh
'-"'"' v'    '"  '-'-"              '-''-'  ''
`}
            }

        },
        methods: {
            empezar: function() {
                this.nivel1 = true
            },
            changepokeroot: function(val) {
                this.picked = val
            }
        }
    });
    </script>
    
</body>
</html>